<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/index.css?v=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

</head>

<body>

  <!-------------------------------- HEADER ---------------------------------------->
  <section class="header" id="header">
    <nav class="navbar" id="navbar">
      <div class="left-nav">
        <h4>
          <clr>R</clr><b><u>AHUL</u></b>
        </h4>
      </div>
      <div class="mid-nav">
        <a class="scroll-link" data-target="#header"><span></span>HOME</a>
        <a class="scroll-link" data-target="#services"><span></span>SKILLS</a>
        <a class="scroll-link" data-target="#about"><span></span>ABOUT</a>
        <a class="scroll-link" data-target="#contact"><span></span>CONTACT</a>
      </div>
      <div class="mid-nav-2">
        <a class="scroll-link" data-target="#contact"><span></span>CONTACT</a>
      </div>
  
    </nav>
  
    <nav class="navbar navbar-hidden nav2" id="navbar-hidden">
      <div class="left-nav">
        <h4>
          <clr>R</clr><b><u>AHUL</u></b>
        </h4>
      </div>
      <div class="mid-nav">
        <a class="scroll-link" data-target="#header"><span></span>HOME</a>
        <a class="scroll-link" data-target="#services"><span></span>SKILLS</a>
        <a class="scroll-link" data-target="#about"><span></span>ABOUT</a>
        <a class="scroll-link" data-target="#contact"><span></span>CONTACT</a>
      </div>
      <div class="mid-nav-2">
        <a class="scroll-link" data-target="#contact"><span></span>CONTACT</a>
      </div>
    </nav>

    

    <div class="cover">
      <div class="cover_title_header">
        <div class="title">
          <h1>
            Hi,<br>
            I' am <clr>Rahul</clr><br>
            Software Engineer
          </h1>
        </div>


        <div class="btn_sec"><button class="btn scroll-link" data-target="#services">
            <spann></spann>MORE
          </button>
          <form action="/work" method="get">
            <button class="btn" type="submit">
              <spann></spann>MY WORK
            </button>
          </form>

        </div>

        <div class="social">
          <div class="icon-wrapper-header">
            <a href="https://www.linkedin.com/in/rahul-sharma-804148171/">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
          <div class="icon-wrapper-header"><i class="fa-brands fa-github"></i></div>
        </div>

      </div>
      <div class="right-side-of-header">
        <div class="header-img"><img src="pic.png" alt=""></div>
      </div>
    </div>

  </section>

  <!-------------------------------- END OF HEADER ----------------------------------------->

  <!-------------------------------- OUR SERVICES -------------------------------------------->

  <section class="skills" id="services">

    <div class="cover_title_skills">
      <h1>SKILL<clr>'S</clr>
      </h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-brands fa-html5"></i>
            </div>
            <h3>HTML</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-brands fa-css3-alt"></i>
            </div>
            <h3>CSS</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-brands fa-js"></i>
            </div>
            <h3>JavaScript</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-brands fa-node"></i>
            </div>
            <h3>Node.js</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-brands fa-react"></i>
            </div>
            <h3>React</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fa-solid fa-database"></i>
            </div>
            <h3>Mongo.DB</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-------------------------------- END OF SERVICES ----------------------------------------->



  <!-------------------------------- ABOUT US ----------------------------------------->
  <section class="aboutc" id="about">


    <div class="about">
      <aboutspan></aboutspan>
      <h1><clr>About Me</clr>
        
      </h1>
      <p>I am an enthusiastic and driven individual, having
        recently completed my degree in Computer Science
        Engineering. I am actively searching for exciting
        opportunities that will allow me to further develop my
        skills and make meaningful contributions to the field.
        With a solid foundation in CSE, I possess a deep
        curiosity for knowledge and a relentless desire to take
        on fresh challenges, aiming to create positive impacts.
        My expertise lies in software development, data
        structures, algorithms, and problem-solving. I have
        gained valuable experience working collaboratively in
        diverse team environments, demonstrating my
        proficiency in various programming languages. I am a
        quick learner who easily adapts to fast-paced settings,
        consistently seeking avenues to apply my knowledge
        and skills to drive innovation and contribute to the
        success of dynamic organizations.</p>
    </div>

    <div class="about-right">
      <img src="new.jpeg" alt="">
    </div>
  </section>
  <!-------------------------------- END OF ABOUT ----------------------------------------->

  <!-------------------------------- CONTACT ----------------------------------------->
  <section class="contact" id="contact">

    <div class="contact-right">

      <form class="contact-form" action="https://formspree.io/f/mnqknone" method="POST">
        <h1>CONTACT
        </h1>
        <div>

          <input type="text" id="name" name="Name" required placeholder="Enter Your Name">
        </div>
        <div>

          <input type="email" id="email" name="Email" required placeholder="Enter Your Email">
        </div>
        <div>

          <input type="tel" id="number" name="Number" required placeholder="Enter Your Number">
        </div>
        <div>
          <textarea type="textArea" id="textarea" name="Massage" required placeholder="Write Your Massage"></textarea>
        </div>

        <button class="btn btn2">
          <spann></spann>Submit
        </button>
      </form>
    </div>
  </section>

  <!-------------------------------- END OF CONTACT ----------------------------------------->

  <section class="footer">
    <p class="trademark">&copy; 2023 Portfolio. All rights reserved. PF&#x2122;</p>
  </section>

  <script src="index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>