<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gallery</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/index.css?v=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,100;1,200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

</head>

<body>

  <!-------------------------------- HEADER ---------------------------------------->
  <section class="header" id="header">

    <div id="video-container">
      <video class="background-video" loop muted autoplay>
        <!-- Add multiple sources to support different browsers -->
        <source src="bg.mp4" type="video/mp4">
        <!-- Add more sources for WebM, Ogg, etc., if desired -->
        Your browser does not support the video tag.
      </video>
    </div>

    <nav class="navbar" id="navbar">
      <div class="left-nav">
        <h4>
          <clr>G</clr><b><u>ALLERY</u></b>
        </h4>
      </div>
      <div class="mid-nav">
        <a class="scroll-link" data-target="#header"><span></span>HOME</a>
        <a class="scroll-link" data-target="#services"><span></span>OUR SERVICES</a>
        <a class="scroll-link" data-target="#blogs"><span></span>BLOGS</a>
        <a class="scroll-link" data-target="#about"><span></span>ABOUT US</a>
      </div>
      <div class="right-nav">
        <a class="scroll-link" data-target="#contact"><span></span>CONTACT US</a>
      </div>
    </nav>

    <nav class="navbar navbar-hidden nav2" id="navbar-hidden">
      <div class="left-nav">
        <h4>
          <clr>G</clr><b><u>ALLERY</u></b>
        </h4>
      </div>
      <div class="mid-nav">
        <a class="scroll-link" data-target="#header"><span></span>HOME</a>
        <a class="scroll-link" data-target="#services"><span></span>OUR SERVICES</a>
        <a class="scroll-link" data-target="#blogs"><span></span>BLOGS</a>
        <a class="scroll-link" data-target="#about"><span></span>ABOUT US</a>
      </div>
      <div class="right-nav">
        <a class="scroll-link" data-target="#contact"><span></span>CONTACT US</a>
      </div>
    </nav>


    <div class="cover">
      <div class="cover_title">
        <h1>
          <clr>WELCOME TO </clr> OUR SITE
        </h1>
        <p><br>This is the new project. we are making a website using<br>HTML, CSS, JAVASCRIPT, NODE.JS, EXPRESS.JS and
          MONGO_DB.</p>

        <div class="btn_sec"><button class="btn scroll-link" data-target="#services">
            <spann></spann>EXPLORE MORE
          </button>
          <form action="/login" method="get">
            <button class="btn" type="submit">
              <spann></spann>TRY NOW
            </button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-------------------------------- END OF HEADER ----------------------------------------->

  <!-------------------------------- OUR SERVICES -------------------------------------------->

  <section class="blogs" id="services">

    <div class="cover_title">
      <h1>OUR <clr>SERVICES</clr>
      </h1>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-hammer"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-brush"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-wrench"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-truck-pickup"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-broom"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-plug"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-------------------------------- END OF SERVICES ----------------------------------------->

  <!-------------------------------- BLOGS ----------------------------------------->
  <section class="blogs" id="blogs">

    <div class="cover_title">
      <h1>BLOG'<clr>S</clr>
      </h1>
      <p><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Exercitationem dolore obcaecati eligendi nihil
        optio modi porro quisquam accusamus numquam repudiandae. <br>Quo quidem ut voluptatibus eligendi sequi possimus
        illum perferendis similique.</p>
      <div class="cards-grp">
        <div class="cards">
          <img src="bpic1.jpg" alt="img">
          <div class="card-title">
            <h5>This is title 1</h5>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci consectetur illum ipsum dignissimos
            officia?
          </div>
        </div>

        <div class="cards">
          <img src="bpic1.jpg" alt="img">
          <div class="card-title">
            <h5>This is title 1</h5>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci consectetur illum ipsum dignissimos
            officia?
          </div>
        </div>

        <div class="cards">
          <img src="bpic1.jpg" alt="img">
          <div class="card-title">
            <h5>This is title 1</h5>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci consectetur illum ipsum dignissimos
            officia?
          </div>
        </div>

        <div class="cards">
          <img src="bpic1.jpg" alt="img">
          <div class="card-title">
            <h5>This is title 1</h5>
          </div>
          <div class="card-body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci consectetur illum ipsum dignissimos
            officia?
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-------------------------------- END OF BLOGS ----------------------------------------->

  <!-------------------------------- ABOUT US ----------------------------------------->
  <section class="aboutc" id="about">
    <div class="about-left">
      <div class="about">
        <h1>About <clr> US</clr>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo fuga, ipsum, sapiente ratione hic nesciunt
          amet, facere aspernatur magni rerum cupiditate! Praesentium, perspiciatis. Tempore numquam nesciunt dolor
          nihil quo eaque?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ullam velit tempora fugit
          dolore, natus
          recusandae aliquid in maxime similique nam veritatis eligendi obcaecati quasi amet, nobis reprehenderit nemo
          rem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi suscipit placeat porro sapiente tempore
          sint quaerat numquam magnam, quo eos soluta quam, culpa fugit repellendus tenetur quas, doloremque praesentium
          doloribus.</p>
      </div>
    </div>
    <div class="contact-img">
      <img src="about.png" alt="about">
    </div>
  </section>
  <!-------------------------------- END OF ABOUT ----------------------------------------->

  <!-------------------------------- CONTACT ----------------------------------------->
  <section class="contact" id="contact">

    <div class="contact-img">
      <img src="contact.png" alt="">
    </div>

    <div class="contact-right">

      <form class="contact-form" action="https://formspree.io/f/mnqknone" method="POST">
        <h1>CONTACT <clr> US</clr>
        </h1>
        <div>

          <input type="text" id="name" name="Name" required placeholder="Enter Your Name">
        </div>
        <div>

          <input type="email" id="email" name="Email" required placeholder="Enter Your Email">
        </div>
        <div>

          <input type="tel" id="number" name="Number" required placeholder="Enter Your Number">
        </div>
        <div>
          <textarea type="textArea" id="textarea" name="Massage" required placeholder="Write Your Massage"></textarea>
        </div>

        <button class="btn btn2">
          <spann></spann>Submit
        </button>
      </form>
    </div>
  </section>

  <!-------------------------------- END OF CONTACT ----------------------------------------->

  <section class="footer">
    <p class="trademark">&copy; 2023 GALLERY. All rights reserved. Trademark &#x2122; Logo</p>
  </section>

  <script src="index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>