<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gallery</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/index.css?v=1.0">
  <link rel="stylesheet" href="/styles/newhome.css?v=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,100;1,200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

</head>

<body>

  <section class="head" id="header">

    <div id="video-container">
      <video class="background-video" loop muted autoplay>

        <source src="bg.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>
    </div>

    <nav class="navbar" id="navbar">
      <div class="left-nav">
        <h4>
          <clr>G</clr><b><u>ALLERY</u></b>
        </h4>
      </div>
      <div class="mid-navv">
        <a class="upload" href="#"><span></span>Upload</a>
        <input type="file" name="image" id="fileInput" style="display: none;" accept=".jpg, .jpeg, .png, .gif">
      </div>
      <div class="right-nav">
        <a href="/profile"><span></span>Profile</a>
      </div>
    </nav>


    <div class="main">
      <div class="img-list">
        <% if(User.images.length <=0 ) { %>
          <div class="firstupload">
            <div class="fbtn">
              <h3>Make Your First Upload</h3>
              <button class="fu upload"><i class="fas fa-add"></i>
              </button>
            </div>
          </div>
          <% } %>

            <% User.images.forEach(function(images) { %>
              <% if (images) { %>
                <a href="#" class="image-link" data-image-url="<%= images %>">
                  <div class="image-box"><img class="image" src="<%= images %>" alt="Thumbnail"></div>
                </a>
                <% } %>
                  <% }); %>
      </div>
    </div>

    <div class="overlay" id="overlay">
      <div class="over-nav">
        <button class="over-btn" id="closeButton"><i class="fas fa-times"></i></button>
        <button class="over-btn" id="deleteButton"><i class="fas fa-trash-alt"></i></button>
      </div>
      <div class="overlay-navigation">
        <button id="prevButton" onclick="changeImage(-1)">&lt;</button>
        <button id="nextButton" onclick="changeImage(1)">&gt;</button>
      </div>
      <img id="overlayImage" src="" alt="Full-size Image">
    </div>

  </section>


  <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
  <script src="index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>