<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="work.css">
</head>
<body>
    <div class="card">
        <div class="img-con"><img src="gl.png" alt="app"></div>
        <div class="desc"><b>Node.js | Express.js | MongoDB | HTML | CSS | JavaScript</b><br>
            In this project, I made a website that has sign in and 
            sign-up functionality and user can create an account then 
            upload and delete the images. Its like a cloud storage.
            </div>
        <form class="form" action="/login"><button type="submit" class="btn"><spann></spann>Visit</button></form>   
    </div>
</body>
</html>